.tools-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    width: 372px;
    background-color: #262626 100%!important;
    padding: 32px;
    border-radius: 32px;
    position:absolute;
    backdrop-filter: blur(8px);
    box-shadow: 
      inset 1px 1px 1px #1B1B1B, /* Inner shadow */
      inset -1px -1px 1px #303030, /* Inner shadow */
      -4px -4px 20px #303030, /* Drop shadow */
      4px 4px 20px #1B1B1B; /* Drop shadow */
}

