.gradient-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.tool-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #767676;
    margin-bottom: 8px;
}